.modal_body {
  position: relative;
  h2 {
    font-weight: normal;
  }
  .project_icon {
    width: 200px;
    height: 200px;
    float: right;
    box-shadow: 0 3px 6px rgba(#000, .35);
    border-radius: 2px;
    //border: 1px solid $lightest_bg;
    margin-left: 10px;
  }
  .yt-video {
    width: 500px;
    height: 281.25px;
    margin: 0 auto;
    iframe {
      height: 100%;
      width: 100%;
    }
  }
  .license {
    margin-top: 40px;
    font-size: 16px;
    .bold {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1450px) {
  .modal_body {
    .yt-video {
      width: 400px;
      height: 225px;
    }
  }
}

@media screen and (max-width: 670px) {
  .modal_body {
    .yt-video {
      width: 350px;
      height: 196.875px;
    }
  }
}

@media screen and (max-width: 500px) {
  .modal_body {
    .yt-video {
      width: 300px;
      height: 168.75px;
    }
  }
}
@media screen and (max-width: 400px) {
  .modal_body {
    .yt-video {
      width: 90%;
      height: 50.625%;
    }
  }
}