<template>
  <div class="alert_root clearfix" @click="outsideClick($event)"
    :class="{shown: alertStatus}" data-closer>
    <div class="wrapper">
      <div :class="{alert_bg: true, shown: alertStatus}">
        <div class="content_wrapper">
          <h1>{{alertData.title}}</h1>
          <div class="separator"></div>
          <p class="alert_body">{{alertData.body}}</p>
          <div class="alert_footer">
            <Button :data_closer="true">Close</Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Button from '../components/Button';

export default {
  name: 'Alert',
  components: {
    Button,
  },
  computed: {
    alertStatus() {
      return this.$store.getters.getAlertState;
    },
    alertData() {
      return this.$store.getters.getAlertData;
    },
  },
  methods: {
    outsideClick(e) {
      if (e.target.dataset.closer !== undefined) {
        this.$store.commit('closeAlert');
      }
    },
  },
};
</script>

<style lang="scss">
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.alert_root {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11000;
  background: rgba(#000, .65);
  //padding-top: 60px;
  flex: 1;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  transition: all .2s ease;
  &.shown {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-height: calc(100% - 5vw);
    .alert_bg {
      box-sizing: border-box;
      background: $text_gray;
      overflow-y: auto;
      padding: 15px 15px 0;
      box-shadow: 0 3px 6px rgba(#000, .35);
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      color: $dark_bg;
      width: 90%;
      max-width: 1200px;
      min-width: 300px;
      margin: 0 auto;
      opacity: 1;
      transform: translateY(-100%);
      transition: transform .3s ease;
      &.shown {
        transform: translateY(0);
      }
      .content_wrapper {
        h1 {
          margin: 0;
          font-weight: 500;
          font-size: 30px;
        }
        .separator{
          background: darken($text_gray, 10);
          padding: 1px;
          border-radius: 2px;
          margin-top: 10px;
        }
        .alert_footer {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          padding: 10px 0 15px;
          .btn {
            width: auto;
            margin-left: 20px;
            .trigger {
              a {
                padding: 10px 20px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
